In [2]:
!pip install xgboost

Requirement already satisfied: xgboost in /usr/local/lib/python3.7/dist-packages (0.90)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.4.1)

In [3]:
import xgboost as xgb
import pandas as pd
import numpy as np
from tqdm import tqdm
import warnings

In [4]:
# 경고 끄기
pd.set_option('mode.chained_assignment', None)
warnings.filterwarnings(action='ignore')

In [5]:
def preprocessing(temp_df, pum, len_lag) :
    # p_lag, q_lag 추가
    for lag in range(1,len_lag+1) :
      temp_df[f'p_lag_{lag}'] = -1
      temp_df[f'q_lag_{lag}'] = -1
      for index in range(lag, len(temp_df)) :
        temp_df.loc[index, f'p_lag_{lag}'] = temp_df[f'{pum}_가격(원/kg)'][index-lag] #1일전, 2일전, ... 가격을 feature로 추가
        temp_df.loc[index, f'q_lag_{lag}'] = temp_df[f'{pum}_거래량(kg)'][index-lag] #1일전, 2일전, ... 거래량을 feature로 추가

    # month 추가
    temp_df['date'] = pd.to_datetime(temp_df['date'])
    temp_df['month'] = temp_df['date'].dt.month

    # 예측 대상(1w,2w,4w) 추가
    for week in ['1_week','2_week','4_week'] :
      temp_df[week] = 0
      n_week = int(week[0])
      for index in range(len(temp_df)) :
        try : temp_df[week][index] = temp_df[f'{pum}_가격(원/kg)'][index+7*n_week]
        except : continue

    # 불필요한 column 제거        
    temp_df = temp_df.drop(['date',f'{pum}_거래량(kg)',f'{pum}_가격(원/kg)'], axis=1)
    
    return temp_df

In [6]:
train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data/Dacon_data/public_data/train.csv')
train.head()

         date   요일  배추_거래량(kg)  ...  캠벨얼리_가격(원/kg)  샤인마스캇_거래량(kg)  샤인마스캇_가격(원/kg)
0  2016-01-01  금요일         0.0  ...            0.0            0.0             0.0
1  2016-01-02  토요일     80860.0  ...         2014.0            0.0             0.0
2  2016-01-03  일요일         0.0  ...            0.0            0.0             0.0
3  2016-01-04  월요일   1422742.5  ...         3885.0            0.0             0.0
4  2016-01-05  화요일   1167241.0  ...         2853.0            0.0             0.0

[5 rows x 44 columns]

In [7]:
# preprocessing 함수 예시
pum = '배추'
temp_df = train[['date',f'{pum}_거래량(kg)', f'{pum}_가격(원/kg)']]
preprocessing(temp_df, pum, len_lag=28)

      p_lag_1    q_lag_1  p_lag_2    q_lag_2  ...  month  1_week  2_week  4_week
0        -1.0       -1.0     -1.0       -1.0  ...      1     420     449     625
1         0.0        0.0     -1.0       -1.0  ...      1     389     454     733
2       329.0    80860.0      0.0        0.0  ...      1       0       0    1048
3         0.0        0.0    329.0    80860.0  ...      1     398     475     638
4       478.0  1422742.5      0.0        0.0  ...      1     431     511     597
...       ...        ...      ...        ...  ...    ...     ...     ...     ...
1728   1807.0  2007471.3   1838.0  1757465.6  ...      9       0       0       0
1729   1839.0  1856965.0   1807.0  2007471.3  ...      9       0       0       0
1730   1789.0  1880095.5   1839.0  1856965.0  ...      9       0       0       0
1731   1760.0  1661090.9   1789.0  1880095.5  ...      9       0       0       0
1732   3066.0    25396.0   1760.0  1661090.9  ...      9       0       0       0

[1733 rows x 60 columns]

In [8]:
def nmae(week_answer, week_submission):
    answer = week_answer
    target_idx = np.where(answer!=0)
    true = answer[target_idx]
    pred = week_submission[target_idx]
    score = np.mean(np.abs(true-pred)/true)
    
    return score


def at_nmae(pred, dataset):
    y_true = dataset.get_label()
    week_1_answer = y_true[0::3]
    week_2_answer = y_true[1::3]
    week_4_answer = y_true[2::3]
    
    week_1_submission = pred[0::3]
    week_2_submission = pred[1::3]
    week_4_submission = pred[2::3]
    
    score1 = nmae(week_1_answer, week_1_submission)
    score2 = nmae(week_2_answer, week_2_submission)
    score4 = nmae(week_4_answer, week_4_submission)
    
    score = (score1+score2+score4)/3
    
    return 'score', score, False

In [9]:
def model_train(x_train, y_train, x_valid, y_valid) :
    
    params = {
        # Parameters that we are going to tune
        'max_depth':6,
        'min_child_weight': 1,
        'eta':.3,
        'subsample': 1,
        'colsample_bytree': 1,
        # Other parameters
        'objective':'reg:linear',
            }

    model = xgb.train(params, 
                   train_set = xgb.DMatrix(data = x_train, label = y_train),
                   num_boost_round = 10000, 
                   valid_sets = xgb.DMatrix(data = x_valid, label = y_valid), 
                   init_model = None, 
                   early_stopping_rounds = 100,
                   feval = at_nmae,
                   verbose_eval = False
                    )
    
    return model

In [10]:
unique_pum = [
    '배추', '무', '양파', '건고추','마늘',
    '대파', '얼갈이배추', '양배추', '깻잎',
    '시금치', '미나리', '당근',
    '파프리카', '새송이', '팽이버섯', '토마토',
]

unique_kind = [
    '청상추', '백다다기', '애호박', '캠벨얼리', '샤인마스캇'
]

In [13]:
model_dict = {}
split = 28 #validation

for pum in tqdm(unique_pum + unique_kind):
    # 품목 품종별 전처리
    temp_df = train[['date',f'{pum}_거래량(kg)', f'{pum}_가격(원/kg)']]
    temp_df = preprocessing(temp_df, pum, len_lag=28)
    
    # 주차별(1,2,4w) 학습
    for week_num in [1,2,4] :
        x = temp_df[temp_df[f'{week_num}_week']>0].iloc[:,:-3]
        y = temp_df[temp_df[f'{week_num}_week']>0][f'{week_num}_week']
        
        #train, test split
        x_train = x[:-split]
        y_train = y[:-split]
        x_valid = x[-split:]
        y_valid = y[-split:]

       
        
        model_dict[f'{pum}_model_{week_num}'] = model_train(x_train, y_train,x_valid,y_valid)

  0%|          | 0/21 [00:30<?, ?it/s]

TypeError: ignored